@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display SC", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --back-color: #faf5f5;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
  body {
    background-color: var(--back-color);
  }
  h1 {
    font-family: var(--font-playfair);
  }
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-calendar {
  border-radius: 10px !important;
  line-height: 1em !important;
  border: none !important;
}
.react-calendar__month-view__weekdays {
  border-bottom: none !important;
  color: #9448eb !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  border: none !important;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 20px !important;
  margin-top: 8px;
}
.react-calendar__tile--now {
  background: #6f48eb33 !important;
  border-radius: 6px;
  font-weight: bold !important;
  color: #6f48eb !important;
}
